/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
	margin: 3rem 0;
	width: 100%;
	text-align: center;
	color: #999;
	font-weight: 400;
	p{
		line-height: 1.7;
		font-size: 1.5rem;
		margin-bottom: 2.5rem;
	}
	@include sp{
		padding: 50px 0;
	}
	.l-container{
		@include flex-center;
	}
	&__btn{
		@include flex-center;
		margin: 2rem 0;
		a{
			color: #01395e;
			font-weight: 500;
			font-size: 1.7rem;
			padding: 10px;
		}
	}
	&__copyright {
		p{
			font-size: 1.6rem;
			font-weight: 500;
		}
	}
}